.MatlabCardMain{
    cursor: pointer;
    img{
        width: 16rem;
        height: 14rem;
    }
    h4{
        padding-right: .7rem;
         margin: 0;
         font-weight: 100;
         color: rgb(137, 137, 137);
    }
    h2{
        padding-right: .7rem;
        margin: 0;
        width: 15rem;
        font-size: 22px;
    }
}