.titleCardMain{
    box-shadow: 0px 2px 11px 0.5px rgb(196, 196, 196) ;
    height: 4.7rem;
    background-color: white;
    display: flex;
    gap: .8rem;
    justify-content: start;
    padding: 0 1rem;
    min-width: 110px;
    align-items: center;
    border-radius: 6px;
    img{
        height: 2.2rem;
    }
    p{
        font-size: 17px;
        font-weight: 500;
    }
}